body{
    background-image:url('../imagenes/black.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;}

.navbar{
    font-family: "electrical", Helvetica, Arial, sans-serif;
    }

.imgSlider{
	width: 100%;
}

.fondo_slider{
    background-color: rgba(4, 4, 4, 0.7);
    color: #ffffff;
    padding: 5px;
}

h2{ padding: 10px 0;
    font-family: "electrical", Arial, sans-serif; 
    text-align: center;
    color: #ffffff}



 /********************************* iframe  *********************************************/
.principal{   
    position:relative;
    padding-bottom:75%;
    height: 0;
    overflow:hidden; } 

.principal iframe  
           {position:absolute;
            top: 0;
            left: 0;                      
            width:100%;
            height:100%; }

 /*********************************  seccion Menu de comidas *********************************************/
 .imgs1{
     transition:all 2s;}

 .imgs2{
     transition:all 2s;}
 
 #section2 img{
     width: 100%;
     height: 300px;  
     transition: all 1s; }

 h3{
    font-family: "8th Cargo" ,Arial, sans-serif; 
    font-size: 3em;
    text-align: center;
    color: #ffffff}

 
 .imgs2:hover{
     transform:rotate(-12deg);
 }
 .imgs1:hover{
     transform:rotate(12deg);
 }
 /********************************* seccion de galeria******************************************/
#section3{overflow:hidden;}

 #section3 img{   
        width:100%;
        height:260px; }
 
 .galeria{     
     transition: all 1s;}
 
 .galeria:hover{
     transform:scale(1.2);}

/*********************** mapa *************************************************************/
 #Mapa{
     width: 100%;
     height: 400px;
 }
 
/************************ Clase que agregaremos cuando el usuario haga scroll ******************/
    
.menu-fixed {
     position:fixed;
     z-index:1000;
     top:0;    
     left:0;
     width:90%;
     margin: 0% 5%;
     box-shadow:0px 4px 3px rgba(0,0,0,.5);
 }
/****************** video *************************************************/
.Descrip{height: 400px;
         color: white;

    background-color: rgba(4, 4, 4, 0.7);}
video{width: 100%;
      padding: 20px 0 0 0;
      height: 415px;}

/****************** iframe *************************************************/

iframe{width: 100%;
      padding: 20px 0 0 0;
      height: 415px;}

.mapa{width: 100%;
      padding: 20px 0 0 0;
      height: 340px;}      
 /****************** Pie de pagina *************************************************/
 .social:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);}


footer { min-height:60px; background-color:#000000;}

footer p { text-align:left; color:#FFF; padding:15px 0; margin-bottom:0px;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:60px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}

 /******************** Estilos de letras ****************************************/

 @media all and (orientation: portrait){
       #section3 img{
            height: 150px; } 

         #section2 img{          
            height: 150px; }
        
         #Mapa{
                height: 1500px; }

         .menu-fixed {           
         width:100%;
         margin: 0%;  }    

         .fondo_slider h4{padding: 5px 0 30px 0;
                       }
 
 }
     
/******************** Estilos de letras ****************************************/
     @font-face {               
        font-family: '8th Cargo';	
        src: url('fonts/8th Cargo.ttf') format('truetype');        
        font-weight: normal;
        font-style: normal;
    }

    @font-face {  
            
        font-family: 'adrip1';	
        src: url('fonts/adrip1.ttf') format('truetype');        
        font-weight: normal;
        font-style: normal;
    }

    @font-face {               
        font-family: 'electrical';	
        src: url('fonts/electrical.ttf') format('truetype');        
        font-weight: normal;
        font-style: normal;
    }
