USE [master]
GO
/****** Object:  Database [ProyectoWeb]    Script Date: 21/04/2018 19:26:39 ******/
CREATE DATABASE [ProyectoWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ProyectoWeb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProyectoWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ProyectoWeb_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoWeb]
GO
/****** Object:  StoredProcedure [dbo].[eliminarFactura]    Script Date: 21/04/2018 19:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarFactura]
    @idFactura int
AS
BEGIN
	delete from Facturas where numFactura = @idFactura

END

GO
/****** Object:  StoredProcedure [dbo].[insertarFactura]    Script Date: 21/04/2018 19:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insertarFactura] 
	@nomCliente varchar(100),
	@direccion varchar (500),
	@telefono varchar(10),
	@email varchar(100),
	@numTarjeta varchar(25),
	@monto numeric (18,2)
	
AS BEGIN
	INSERT INTO Facturas values (	CONVERT(smalldatetime, GETDATE()),
									@nomCliente,
									@direccion,
									@telefono,
									@email,
									@numTarjeta,
									@monto)
END
GO
/****** Object:  StoredProcedure [dbo].[modFactura]    Script Date: 21/04/2018 19:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[modFactura]
    @idFactura int,
	@nomCliente varchar(100) =null ,
	@direccion varchar (500) =null  ,
	@telefono varchar(10) =null ,
	@email varchar(100) =null ,
	@numTarjeta varchar(25) =null ,
	@monto numeric (18,2) =null 
AS
BEGIN
	UPDATE  Facturas SET
						nomCliente = @nomCliente,
						direccion=@direccion,
						telefono=@telefono,
						email=@email,
						numTarjeta=@numTarjeta,
						montoTotal=@monto
						
						where numFactura =@idFactura

END
GO
/****** Object:  StoredProcedure [dbo].[obtenerFactura]    Script Date: 21/04/2018 19:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obtenerFactura] AS
declare @ultimo int
set @ultimo=(select max(numFactura) from Facturas)
SELECT * from Facturas where numFactura=@ultimo

GO
/****** Object:  StoredProcedure [dbo].[obtenerFacturaId]    Script Date: 21/04/2018 19:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[obtenerFacturaId]
@idfactura int
as begin
SELECT * from Facturas where numFactura=@idfactura
end


GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 21/04/2018 19:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Facturas](
	[numFactura] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [smalldatetime] NOT NULL,
	[nomCliente] [varchar](100) NOT NULL,
	[direccion] [varchar](500) NOT NULL,
	[telefono] [varchar](10) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[numTarjeta] [varchar](25) NOT NULL,
	[montoTotal] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[numFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([numFactura], [fecha], [nomCliente], [direccion], [telefono], [email], [numTarjeta], [montoTotal]) VALUES (55, CAST(0xA7D60562 AS SmallDateTime), N'Yendry Karina Mora Alvarado', N'Isla Venado', N'12335', N'yandryShai@utn.com', N'45648566', CAST(20000.00 AS Numeric(18, 2)))
INSERT [dbo].[Facturas] ([numFactura], [fecha], [nomCliente], [direccion], [telefono], [email], [numTarjeta], [montoTotal]) VALUES (1049, CAST(0xA8C70586 AS SmallDateTime), N'Fabricio Espinoza', N'Puntarenas', N'89134136', N'fobri@utn.com', N'123321123', CAST(10000.00 AS Numeric(18, 2)))
INSERT [dbo].[Facturas] ([numFactura], [fecha], [nomCliente], [direccion], [telefono], [email], [numTarjeta], [montoTotal]) VALUES (2049, CAST(0xA8C90487 AS SmallDateTime), N'Jose Álvarez', N'Orotina', N'11111111', N'jose@utn.com', N'22222222222', CAST(207850.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[Facturas] OFF
USE [master]
GO
